e_*
/__pycache__
*.pyc
/data
/C_*
/gap_40_len_80
.*.swp
/data_*
/scripts
/result*
cp_pcnn.sh
recent_config
/tuning_logs
/nyt_NRE_results
/old_results_sem_eval
.ipynb_checkpoints/
pr_graph2.ipynb
pr_graph_1018.ipynb
